<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Tour de App</title>
    </head>

    <body>
        <main>
            <form method="post" action="/api/dbpasswd">
                <input type="text" name="password">
                <input type="submit" value="Update">
            </form>
        </main>
    </body>

</html>
