<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Tour de App</title>
    </head>

    <body>
        <main>
            <a href="/log">log</a>
            <a href="/dbpasswd">dbpasswd</a>
            <a href="/api/lecturers">lecturers</a>
            <a href="/lecturer">lecturer</a>
        </main>
    </body>

</html>