<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Tour de App</title>
    </head>

    <body>
        <main>
            <div class="center fullscreen lecturer-container">
                <div class="split-h lecturer">
                    <div class="split-v">
                        <div class="split-h">
                            <div class="img-container profile-picture">
                                <img
                                    src="https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp" />
                            </div>
                            <div class="split-v info-box">
                                <div class="name">Mgr. Petra Swil Plachá, MBA</div>
                                <div class="claim">Aktivní studentka / Předsedkyně spolku / Projektová manažerka</div>
                                <div class="city">Brno</div>
                            </div>
                        </div>
                        <div class="bio">
                            <p>Baví mě organizovat věci. Ať už to bylo vyvíjení mobilních aplikací ve Futured, pořádání
                                konferencí, spolupráce na soutěžích Prezentiáda, pIšQworky, <b>Tour de App</b> a
                                Středoškolák
                                roku, nebo třeba dobrovolnictví, vždycky jsem skončila u projektového managementu,
                                rozvíjení
                                soft-skills a vzdělávání. U studentských projektů a akcí jsem si vyzkoušela snad všechno
                                od
                                marketingu po logistiku a moc ráda to předám dál. Momentálně studuji Pdf MUNI a FF MUNI
                                v
                                Brně.
                            </p>
                        </div>
                        <div class="tags">
                            <div><a href="#">Dobrovolnictví</a></div>
                            <div><a href="#">Studentské spolky</a></div>
                            <div><a href="#">Efektivní učení</a></div>
                            <div><a href="#">Prezentační dovednosti</a></div>
                            <div><a href="#">Marketing pro neziskové studentské projekty</a></div>
                            <div><a href="#">Mimoškolní aktivity</a></div>
                            <div><a href="#">Projektový management, event management</a></div>
                            <div><a href="#">Fundraising pro neziskové studentské projekty</a></div>
                        </div>
                    </div>
                    <div class="sidebar split-v">
                        <div>
                            <div>Cena za hodinu: 1200 Kč</div>
                            <div>Tel. číslo: <a href="#">+420 123 456 789</a></div>
                            <div>Email: <a href="#">example@example.com</a></div>
                        </div>
                        <div class="tda-logo-container">
                            <img src="{{ url_for('static', filename='images/TdA_LOGO/TeacherDigitalAgency_LOGO_colour-white.png') }}" />
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>