<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Tour de App</title>
        <script type="text/javascript" src="/js/log.js"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <main>
            <div class="fullscreen" id="log">

            </div>
        </main>
    </body>

</html>