<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/reservations.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script type="text/javascript">
            const uuid = "{{ uuid }}";
        </script>
        <script type="text/javascript" src="/js/cookie.js"></script>
        <script type="text/javascript" src="/js/reservations.js"></script>
        <title>Teacher Digital Agency</title>
    </head>

    <body>
        <main class="fullscreen split-h">
            <div class="date-picker">
                <div>
                    <input id="date" type="date">
                </div>
            </div>
            <div class="timetable">
                <table>
                    <thead>
                        <tr>
                            <th class="hour-column">

                            </th>
                            <th class="split-h minute-column">
                                <div>00</div>
                                <div>30</div>
                                <div>59</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(24) %}
                        <tr>
                            <td>
                                {{ i }}:00
                            </td>
                            <td>
                                <div id="hour-{{ i }}" class="hour-flex">

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <div id="popup" class="popup fullscreen" style="display: none;">
            <div id="lecturer-popup" style="display: none;">
                <div>
                    <label for="start-time">Začátek:</label>
                    <input id="start-time" type="time">
                </div>
                <div>
                    <label for="end-time">Konec:</label>
                    <input id="end-time" type="time">
                </div>
                <div class="split-h">
                    <div id="back-lecturer" class="button">
                        Zpět
                    </div>
                    <div id="submit-lecturer" class="button">
                        Vytvořit
                    </div>
                </div>
            </div>
            <div id="student-popup" style="display: none;">
                <div>
                    <label for="reservation-start-time">Začátek:</label>
                    <input id="reservation-start-time" type="time">
                </div>
                <div>
                    <label for="reservation-end-time">Konec:</label>
                    <input id="reservation-end-time" type="time">
                </div>
                <div>
                    <label for="reservation-first-name">Jméno:</label>
                    <input id="reservation-first-name" type="text">
                </div>
                <div>
                    <label for="reservation-last-name">Příjmení:</label>
                    <input id="reservation-last-name" type="text">
                </div>
                <div>
                    <label for="reservation-email">Email:</label>
                    <input id="reservation-email" type="text">
                </div>
                <div>
                    <label for="reservation-phone">Tel.:</label>
                    <input id="reservation-phone" type="text">
                </div>
                <div>
                    <label for="reservation-info">Info:</label>
                    <textarea id="reservation-info" type="time"></textarea>
                </div>
                <div>
                    Tagy:
                    <input list="tag-list" id="tag-select">
                    <datalist id="tag-list">

                    </datalist>
                </div>

                <div class="split-h">
                    <div id="back-student" class="button">
                        Zpět
                    </div>
                    <div id="submit-student" class="button">
                        Zarezervovat
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>