@import "styles.scss";

a {
    text-decoration: none;
    transition: color 0.2s ease;

    &.d-bg {
        color: var(--sunglow);

        &:hover {
            text-decoration: underline;
        }
    }

    &.l-bg {
        color: var(--prussian-blue);

        &:hover {
            text-decoration: underline;
        }
    }
}

#log {
    background: var(--jet);
    color: var(--white);
    font-size: 0.75em;
    overflow-y: scroll;
    max-height: 100vh;
}

.lecturer-container {
    background: var(--jet);
    color: var(--white);
}

.tda-logo-container {
    width: fit-content;
    height: fit-content;

    img {
        padding: 40% 25%;
        max-width: 100%;
        max-height: 100%;
        box-sizing: border-box;
    }
}

.lecturer {
    // max-width: 1200px;
    margin: 2em;
    gap: 0em;

    >div {
        box-shadow: 1em 0.5em 0.5em #0005;
    }

    >div:first-child {
        background: var(--white);
        color: var(--jet);
        padding: 1em 1em 2em 2em;
        border-radius: 1em 0 0 1em;
    }

    .sidebar {
        background: var(--prussian-blue);
        color: var(--white);
        padding: 2em 2em 2em 1em;
        border-radius: 0 1em 1em 0;
        white-space: nowrap;
    }

    .split-v {
        gap: 1em;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        gap: 0;

        .split-h {
            flex-direction: column;
            gap: 1em;
        }

        >div:first-child {
            padding: 2em 2em 1em 2em;
            border-radius: 1em 1em 0 0;
        }

        .sidebar {
            padding: 1em 2em 2em 2em;
            border-radius: 0 0 1em 1em;
        }
    }

    .tda-logo-container {
        width: 100%;
        height: auto;
    }
}

.info-box {
    padding-left: 1em;

    @media screen and (max-width: 1200px) {
        padding-left: 0;
    }
}

.name {
    font-size: 2em;
    font-family: "Lalezar";
    font-style: normal;
}

.city {
    font-size: 1.5em;
}

.claim {
    font-size: 1em;
}

.profile-picture {
    min-width: fit-content;

    img {
        border-radius: 1em;
        overflow: hidden;
        width: auto;
        height: auto;
        aspect-ratio: 1/1;
        max-width: 10em;
        box-shadow: 0.5em 0.25em 0.25em #0005;
    }
}

.img-container {
    img {
        display: block;
        object-fit: cover;
    }
}

.tags {
    div {
        display: inline-block;
        margin: 0.25em 0;
        border-radius: 9000px;
        background: var(--sky-blue);
        padding: 0.25em 1em;
        box-shadow: 0.2em 0.1em 0.1em #0005;

        transition: background-color 0.2s ease;

        &:hover {
            background: var(--sunglow);
        }
    }
}