@import "styles.scss";

main {
    background: var(--jet);

    .date-picker>div {
        border-radius: 0.5em;
        border: solid var(--white);
        padding: 1em;
    }

    >div {
        margin: 2em;
    }
}

.timetable {
    flex-grow: 1;
    overflow-y: scroll;

    >table {
        width: 100%;
        border-spacing: 0.5em;
        border-collapse: separate;

        th {
            color: var(--white);
            vertical-align: bottom;
        }

        td:first-child {
            padding: 1em;
        }

        td {
            color: var(--white);
            border: solid var(--white);
            border-radius: 0.5em;
            text-align: center;
        }
    }
}

.hour-column {
    width: 4em;
}

.minute-column {
    justify-content: space-between;
}

.hour-flex {
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: stretch;
    height: 3em;
    padding: 0.25em;

    >div {
        border-radius: 0.25em;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);

    >div {
        background: var(--white);
        padding: 2em;
        border-radius: 1em;
    }
}