:root {
    --prussian-blue: #00384d;
    --sky-blue: #74c7d3;
    --white: #ffffff;
    --jet: #333333;
    --sunglow: #fecb2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
    font-family: 'Open Sans' !important;
    font-style: normal;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-family: 'Lalezar';
        font-style: normal;
    }
}

.fullscreen {
    min-width: 100vw;
    min-height: 100vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.split-h {
    display: flex;
    flex-direction: row;
}

.split-v {
    display: flex;
    flex-direction: column;
}