<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Tour de App</title>
</head>
<body>
    <div class="App">
        <div class="MainBuble">
            <div class="Container">
                <div class="ProfilePicture"></div>
                <div class="InfoBox">
                    <div class="Info" id="name">Mgr. Petra Swil Plachá, MBA</div>
                    <div class="Info" id="city">Brno</div>
                    <div class="Info" id="claim">Aktivní studentka / Předsedkyně spolku / Projektová manažerka</div>
                </div>
            </div>
            <div class="Bio">
                <p>Baví mě organizovat věci. Ať už to bylo vyvíjení mobilních aplikací ve Futured, pořádání konferencí, spolupráce na soutěžích Prezentiáda, pIšQworky, <b>Tour de App</b> a Středoškolák roku, nebo třeba dobrovolnictví, vždycky jsem skončila u projektového managementu, rozvíjení soft-skills a vzdělávání. U studentských projektů a akcí jsem si vyzkoušela snad všechno od marketingu po logistiku a moc ráda to předám dál. Momentálně studuji Pdf MUNI a FF MUNI v Brně.</p>
            </div>
            <div class="Tags">
                
            </div>
        </div>
    </div>
</body>
</html>